.PathListContainer {
    z-index: -2;
    margin: auto;
    width: 100%;
    min-height: 600px;
    padding: 40px;
    border-radius: 8px;
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.ModuleDetails {
    margin-left: auto;
    margin-top: 10px;
    padding: 10px;
    width: calc(100% - 35px);
    min-height: 120px;
}
.ModDet {
    height: 36px;
    min-width: 140px;
    margin: 10px auto;
    padding: 5px 5px 5px 20px;
    border-radius: 0.35rem;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .PathListContainer {
         display: flex;
    }
    .ModuleDetails {
         display: none;
    }
}