.hoverMenu__Btn {
  background-color:white;
  color: blue;
  border:1px solid blue;
  font-size:1.5rem;
  width:3rem;
  padding-bottom: 0.3rem;
  border-radius: 10px;
  cursor:pointer;
  margin-top: 10px;
 
}
.moreIcon{
  padding: 0.5rem;
  color: grey;
  font-size: 1.1rem;
  background-color: #fafafa;
  margin-left: 10px;
  cursor: pointer;
}


